<!-- <div class="row" style="padding-left: 2%;">
    <div class="col s12 m7">
        <div class="card" style="width: 100%; height: 100%; margin-top: 2%;">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <img class="card-img-top" src="../../../../assets/playeraB.jpeg">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <p class="card-text toolbarNamesText1">Que cool viejo t-shirt Blanca  </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h3 class="card-title" style="margin-bottom: 0%;">$MXN200</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
   
                        <ngb-rating [(rate)]="currentRate">
                            <ng-template let-fill="fill" let-index="index">
                              <span class="star" [class.filled]="fill === 100">&#9733;</span>
                            </ng-template>
                          </ngb-rating>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button class="btn btn-block btn-primary" style="text-align: center;">Agregar al carrito</button>
                    </div>
                </div>
               
               
             
             
            </div>
        </div>
        
    </div>
    <div class="col-3">
        <div class="card" style="width: 100%; height: 100%; margin-top: 2%;">
            <div class="card-body">
                <img class="card-img-top" src="../../../../assets/playeraN.jpeg">
                <p class="card-text toolbarNamesText1">Que cool viejo t-shirt Negra</p>
                <h3 class="card-title"style="margin-bottom: 0%;">$MXN200</h3>
                <ngb-rating [(rate)]="currentRate">
                    <ng-template let-fill="fill" let-index="index">
                      <span class="star" [class.filled]="fill === 100">&#9733;</span>
                    </ng-template>
                  </ngb-rating>
                <button class="btn btn-block btn-primary" style="text-align: center;">Agregar al carrito</button>
            </div>
        </div>
        
    </div>
    <div class="col-3">
        <div class="card" style="width: 100%; height: 100%; margin-top: 2%;">
    <div class="card-body">
        <img class="card-img-top" src="../../../../assets/calca.jpeg">
        <p class="card-text toolbarNamesText1">Calcamonias</p>
        <h3 class="card-title"style="margin-bottom: 0%;">$MXN200</h3>
        <ngb-rating [(rate)]="currentRate">
            <ng-template let-fill="fill" let-index="index">
              <span class="star" [class.filled]="fill === 100">&#9733;</span>
            </ng-template>
          </ngb-rating>
        <button class="btn btn-block btn-primary" style="text-align: center;">Agregar al carrito</button>
    </div>
</div>
    </div>
    <div class="col-3">
        <div class="card" style="width: 100%; height: 100%; margin-top: 2%;">
    <div class="card-body">
        <img style="height: 198px;" class="card-img-top" src="../../../../assets/toys.jpg">
        <p class="card-text toolbarNamesText1">Juguetes</p>
        <h3 class="card-title"style="margin-bottom: 0%;">$MXN200</h3>
        <ngb-rating [(rate)]="currentRate">
            <ng-template let-fill="fill" let-index="index">
              <span class="star" [class.filled]="fill === 100">&#9733;</span>
            </ng-template>
          </ngb-rating>
        <button class="btn btn-block btn-primary" style="text-align: center;">Agregar al carrito</button>
    </div>
</div>
    </div>
</div> -->
<div class="container">
    <div class="row displays" style="padding-top: 5%;">
        <div class="col-xs-12 col-sm-6">
            <img src="../../../../assets/trabajando.png" width="350" height="308">
        </div>
        <div class="col-xs-12 col-sm-6" style="padding-top: 10%;">
            <p class="toolbarHome">Estamos trabajando en esta página!!!</p>
        </div>
        
    </div>
</div>
