<div class="row container" style="margin-left: auto;margin-top: 5%;margin-right: auto; ">
    <div class="col-md-5" >
        <div class="card" style="background-color: #492424;min-height: 375px;">
            <div class="card-title" style="text-align: center; margin-top: 5%;">
                <img src="../../../../assets/enagenaName.png" width="140" height="96" alt="">
            </div>
           
        </div>
    </div>
    <div class="col-md-7">
        <app-login *ngIf="!loadComponent" (signUpClick)="loadSignUp($event)"></app-login>
        <app-signup *ngIf="loadComponent" (loginUpClick)="loadlogIn($event)" ></app-signup>
    </div>
</div>