<div class="card" style="background-color: #492424;min-height: 375px;">
    <div class="card-title" style="text-align: center; margin-top: 5%;">
        <img src="../../../../assets/enagenaName.png" width="140" height="96" alt="">
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12" style="text-align: center;">
                <p class="toolbarNamesText" style="color: white;">Inicia sesion usando tus redes sociales para un rapido acceso</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12"style="text-align: center;">
                <button type="button" class="btn btn-dark btn-md rounded-pill" style="background-color: #3f51b5; margin-left: 10%; "><i class="fa fa-facebook"></i>&nbsp;Inicia Sesion con Facebook</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12"style="text-align: center;">
                <button type="button" class="btn btn-dark btn-md rounded-pill " style="background-color: #00c2f2;margin-left: 10%;margin-top: 3%;"><i class="fa fa-twitter"></i>&nbsp;Inicia Sesion con Twitter&nbsp;&nbsp;&nbsp;&nbsp;</button>
            </div>
        </div>
        <div class="row"style="text-align: center;">
            <div class="col-md-12">
                <button type="button" class="btn btn-dark btn-md rounded-pill " style="background-color: #de4a32;margin-left: 10%;margin-top: 3%;"><i class="fa fa-google"></i>&nbsp;Inicia Sesion con Google&nbsp;&nbsp;&nbsp;&nbsp;</button>
            </div>
        </div>
    </div>
</div>