/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import 'bootstrap/dist/css/bootstrap-grid.min.css';
@font-face{
    font-family: 'enagenaFont';
    src: url('assets/kg_happy/KGHAPPY.ttf');
}
.iconEnagena {
    background-image: url('assets/enagenaName.png');
    width: 100%;
    height: 100%;
}
.toolbarHome{
    font-family: enagenaFont;
    font-size: 25px;
    padding-left:10px;
}
.toolbarNames{
    font-family: enagenaFont;
    font-size: 25px;
    padding-left:10px;
}
.toolbarNamesText{
    font-family: enagenaFont;
    font-size: 20px;
    padding-left:0px;
}
.toolbarNamesText1{
    font-family: enagenaFont;
    font-size: 15px;
    padding-left:0px;
}
.mat-form-field-empty.mat-form-field-label {
    color: white;
}
.mat-form-field-underline {
    background-color: white;
}


::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: white !important;;
   }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
